h1{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: solid red;
    text-align: center;
}

fieldset{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.h2-1{
    text-align: center;
}

.logo img{float:left;}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 30pt;
  overflow: hidden;
  background-color: white;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
}

/* Change the link color to gray on hover */
header li a:hover {
  background-color: gray;
}

.active {
  background-color: lightgray;
}

input{
	float: center;
}


.comentarios{
  text-align: center;   
 }

 #name, #email {
  margin: 5px;
  border: 2px solid;
  width: 800px;
}

#comentario{
  margin: 5px;
  text-align-last: center;
  border: 2px solid;
  width: 800px;
  height: 100px;
}

#button{
  margin: 4px;
  border: 1px solid;
  width: 500px;
}

.ra{
  float: left;
  padding: 5px;
}

