body{
 font-family: Arial, Helvetica, sans-serif;
}

.logo{
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  }

 h1 {

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #D95A4E;
    border: solid #1F8C81;
    text-align: center;
  }

  .h2-1{
    text-align: center;
  }

header ul {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
  list-style-type: none;
  overflow: hidden;
  background-color: #4BBFB4;
}

fieldset {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.field-1{
  background-color:#F2EFDF;
  margin-top: 20px;
  margin-right: 500px;
}

.field-2{
  background-color: #4BBFB4;
}

legend{
  text-align: center;
}

header li {
float: left;
}

header li a{
  display: inline-block;
  color:black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.img-header{
  padding-top: 15px;
  padding-right: 5px;
  padding-left: 5px;
}

input {
  margin-top: 15px;
  margin-left: 450px;
  }



/* Change the link color to #F28749 on hover */
header li a:hover {
  background-color:#A62C21;
}

.active {
  background-color: #F2EFDF;
}

.comentarios{
  text-align: center;   
 }

 #name, #email {
  margin: 5px;
  border: 2px solid;
  width: 800px;
}

#comentario{
  margin: 5px;
  text-align-last: center;
  border: 2px solid;
  width: 800px;
  height: 100px;
}

#button{
  margin: 4px;
  border: 1px solid;
  width: 500px;
}

.rayssa-img{
  float: left;
  border-radius: 20px;
  padding-right: 10px;
  }

  



 

 

 
